main {
    display: flex;
    flex-direction: column;
}

table {
    width: 600px;
}

.headers {
    margin-top: 20px;
    border-collapse: collapse;
    border-top: 1px solid rgb(238, 236, 236);
    width: 600px;
}

th {
    text-align: left;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 14px;
    width: 100px;
}

thead > tr > th:nth-child(1) {
    border: none;
}

td {
    border: 1px solid lightgray;
}

#checkboxes {
    margin-top: 14px;
}

.header-checkbox {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    width: 77%;
}

tbody > tr > td:nth-child(1) {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

tbody > tr > td:first-of-type {
    width: 70px;
}

tr > th:nth-child(2) {
    width: 135px;
}

tr > td:nth-child(2) {
    width: 130px;
}

tr > td:nth-child(3) {
    width: 95px;
}

tr > td:nth-child(4) {
    width: 96px;
}

tr > th:nth-child(5) {
    text-align: right;
    width: 60px;
    padding: 0;
}

tr > th:nth-child(6) {
    text-align: right;
}

tr > td:nth-child(5) {
    text-align: right;
    width: 56px;
}

tr > td:nth-child(6) {
    text-align: right;
    width: 95px;
}

.buttons {
    width: 600px;
}

button {
    color: white;
    background-color:#438ACC;
    border: none;
    border-radius: 3px;
    margin-right: 2px;
    outline: none;
    padding: 3px 2px;
    margin-bottom: 2px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(30, 123, 209);
}

.total {
    background-color: #88CEEC;
    font-weight: bold;
    font-size: 13px;
    padding: 5px 0;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 580px;
}

.count {
    display: flex;
    font-weight: bold;
    font-size: 15px;
}

.count > span:nth-child(1) {
    margin-right: 30px;
}